In [33]:
import pandas as pd
df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding = 'latin-1')

In [34]:
grouped = df.groupby('Element').sum()


year_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017']
highest_sum_year = grouped[year_columns].sum(axis=0).idxmax()


print("Year with the highest sum of Stock Variation:", highest_sum_year)

Year with the highest sum of Stock Variation: Y2017

In [35]:
selected_data = df[['Y2017', 'Area']]
grouped = selected_data.groupby('Area').sum()
max_sum_2017 = grouped['Y2017'].max()
areas_highest_sum_2017 = grouped[grouped['Y2017'] == max_sum_2017].index.tolist()
print("Areas with the highest sum in 2017:", areas_highest_sum_2017)

Areas with the highest sum in 2017: ['Nigeria']

In [36]:
total_unique_countries = df['Area'].nunique()

print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49

In [37]:
data_2017 = df[['Y2017']]
mean_2017 = data_2017.mean().values[0]
std_dev_2017 = data_2017.std().values[0]
print("Mean for the year 2017:", "{:.2f}".format(mean_2017))
print("Standard deviation for the year 2017:", "{:.2f}".format(std_dev_2017))

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

In [38]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [40]:
missing_data_2014 = df['Y2014'].isnull().sum()
total_rows = len(df)
percentage_missing_2014 = (missing_data_2014 / total_rows) * 100
print("Total number of missing data in 2014:", missing_data_2014)
print("Percentage of missing data in 2014:", "{:.3f}%".format(percentage_missing_2014))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [41]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [42]:
total_protein_supply_madagascar_2015 = round(madagascar_2015['Y2015'].sum(), 2)


print("Total Protein supply quantity in Madagascar in 2015:", total_protein_supply_madagascar_2015)

Total Protein supply quantity in Madagascar in 2015: 173.05

In [43]:
wine_production = df[df['Item'] == 'Wine']
wine_production_sum = wine_production.groupby('Item').sum()
wine_production_2015 = wine_production_sum['Y2015'].values[0]
wine_production_2018 = wine_production_sum['Y2018'].values[0]
print("Total sum of Wine produced in 2015:", wine_production_2015)
print("Total sum of Wine produced in 2018:", wine_production_2018)

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

In [44]:
df.shape

(60943, 12)

In [45]:
y = [(2, 4), (7, 8), (1, 5, 9)]
print(y[1][1])

8

In [46]:
print(y[1][-1])

8

In [47]:
correlation_coefficients = []
for year in df.columns[df.columns.str.startswith('Y')]:
    correlation = df['Element Code'].corr(df[year])
    correlation_coefficients.append((year, correlation))
correlation_coefficients.sort(key=lambda x: x[1])
year_least_correlation = correlation_coefficients[0][0]
print("Year with the least correlation with 'Element Code':", year_least_correlation)

Year with the least correlation with 'Element Code': Y2016

In [48]:
processing_2017 = df[(df['Element'] == 'Processing') & (df['Y2017'].notnull())]
total_processing_2017 = processing_2017.groupby('Element')['Y2017'].sum().get('Processing', 0)
print("Total sum of Processing in 2017:", total_processing_2017)

Total sum of Processing in 2017: 292836.0

In [49]:
selected_data = df[['Y2017', 'Area']]
grouped = selected_data.groupby('Area').sum()
sorted_sums = grouped.sort_values(by='Y2017')
area_7th_lowest_sum = sorted_sums.index[6]
print("Area with the 7th lowest sum in 2017:", area_7th_lowest_sum)

Area with the 7th lowest sum in 2017: Guinea-Bissau